@font-face {
    font-family: 'Open Sans Condensed';
    src: url('/fonts/openSans/OpenSansCondensed-Regular.woff2') format('woff2'),
        url('/fonts/openSans/OpenSansCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('/fonts/openSans/OpenSansCondensed-SemiBold.woff2') format('woff2'),
        url('/fonts/openSans/OpenSansCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans SemiCondensed';
    src: url('/fonts/openSans/OpenSansSemiCondensed-Bold.woff2') format('woff2'),
        url('/fonts/openSans/OpenSansSemiCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans SemiCondensed';
    src: url('/fonts/openSans/OpenSansSemiCondensed-ExtraBold.woff2') format('woff2'),
        url('/fonts/openSans/OpenSansSemiCondensed-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans SemiCondensed';
    src: url('/fonts/openSans/OpenSansSemiCondensed-Light.woff2') format('woff2'),
        url('/fonts/openSans/OpenSansSemiCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans SemiCondensed';
    src: url('/fonts/openSans/OpenSansSemiCondensed-Medium.woff2') format('woff2'),
        url('/fonts/openSans/OpenSansSemiCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans SemiCondensed';
    src: url('/fonts/openSans/OpenSansSemiCondensed-Regular.woff2') format('woff2'),
        url('/fonts/openSans/OpenSansSemiCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans SemiCondensed';
    src: url('/fonts/openSans/OpenSansSemiCondensed-SemiBold.woff2') format('woff2'),
        url('/fonts/openSans/OpenSansSemiCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/openSans/OpenSans-Bold.woff2') format('woff2'),
        url('/fonts/openSans/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/openSans/OpenSans-ExtraBold.woff2') format('woff2'),
        url('/fonts/openSans/OpenSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/openSans/OpenSans-Light.woff2') format('woff2'),
        url('/fonts/openSans/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/openSans/OpenSans-Italic.woff2') format('woff2'),
        url('/fonts/openSans/OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/openSans/OpenSans-Medium.woff2') format('woff2'),
        url('/fonts/openSans/OpenSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/openSans/OpenSans-Regular.woff2') format('woff2'),
        url('/fonts/openSans/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('/fonts/openSans/OpenSansCondensed-Bold.woff2') format('woff2'),
        url('/fonts/openSans/OpenSansCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/openSans/OpenSans-SemiBold.woff2') format('woff2'),
        url('/fonts/openSans/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('/fonts/openSans/OpenSansCondensed-ExtraBold.woff2') format('woff2'),
        url('/fonts/openSans/OpenSansCondensed-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('/fonts/openSans/OpenSansCondensed-Light.woff2') format('woff2'),
        url('/fonts/openSans/OpenSansCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('/fonts/openSans/OpenSansCondensed-Medium.woff2') format('woff2'),
        url('/fonts/openSans/OpenSansCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

