.container{
    max-width: 1400px;
    padding-inline: 10px;
    margin-inline: auto;
    width: 100%;
    
}
body{
    font-family: $openSans;
    // background-color: $mainWhite;
    background-color: $warmGray;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

main {
  flex: 1; // занимает всё свободное пространство
}
.catalog-layout{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(275px, 1fr) );
    gap: 20px;
}
.section-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    gap: 12px;
    &__title{
        font-size: 48px;
        font-weight: 700;
        color: $brown;
    }
    @media screen and (max-width: 764px) {
        &__title{
            font-size: 32px;
        }
    }
}

html:has(.burger-menu--active){
    overflow: hidden;
}