$mainWhite: #FAF7EF;
$orange: #D65E12;
$brown: #341212;
$yellow: #DFBE37; // хит выделение
$darkBrown: #1E1312;
$mainGray: #E3E1DA;
$warmGray: #E9E5D8;
$accentColor: #C25917;



$openSansC: "Open Sans Condensed";
$openSans: "Open Sans";