.reviews-swiper {
    &__outer{
        overflow: hidden;
    }
    
  &__slide {
    display: flex;
    flex-direction: column;
    background-color: $mainWhite;
    padding: 20px 30px;
    border-radius: 30px;
    gap: 15px;
    font-size: 20px;
    width: 450px !important;
    height: auto;
    justify-content: space-between;
    &-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
    }
  }
}
.swiper{
        overflow: visible;
        padding: 0 10px;
    }