.catalog {
  display: flex;
  gap: 32px;
  padding-block: 40px;
  align-items: flex-start;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.catalog__content {
  flex: 1;
  min-width: 0; // чтобы сетка могла ужиматься внутри flex, а не распирать строку
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (max-width: 768px) {
    width: 100%;
  }
}
