.about-us {
  margin-top: 48px;

  &__title {
    font-size: 28px;
    font-family: $openSansC;
    font-weight: 700;
    color: $brown;
  }

  @media (max-width: $mobile) {
    margin-top: 32px;

    &__title {
      font-size: 22px;
    }
  }
}
